<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/index.css' />
        <title>UpPost</title>
    </head>
    
    <body>
        <header>
            <a href="/posts">
                <img id="logo" src="/images/profPic.png" alt="UpPost Logo">
            </a>

            <div id="login">
                <% if (user) { %>
                    <a href="">
                        <img src="images/profPic.png" alt="Profile Img">
                    </a>
                    <button onclick="location.href='/logout'">Log Out</button>
                <% } else { %>
                    <button onclick="location.href='/auth/google'">Login with Google</button>
                <% } %>
            </div>
        </header>
    
        <main>
            <aside>
                <h1>Welcome to UpPost</h1>
                <p>
                We are a social media site that serves you, the user.
                <br>We provide you the most relevant posts based on user feedback.
                <br>Feel free to login here or just dive on in and start your journey!
                </p>
                <div>
                <% if (user) { %>
                    <button onclick="location.href='/posts'">Continue to UpPost</button>
                <% } else { %>
                    <button onclick="location.href='/auth/google'">Login</button>
                    <button onclick="location.href='/posts'">Continue to UpPost</button>
                <% } %>
                </div>
            </aside>
        </main>

        <footer>
            <div>
                UpPost &copy; 2020
            </div>
        </footer>
    </body>
</html>