<!DOCTYPE html>
<html>
  <head>
    <title>UpPost</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href="/categories">
        <img src="" alt="UpPost Logo">
      </a>
      <a href="/categories">
        <p>UpPost</p>
      </a>
      <div id="login">
          <% if (user) { %>
              <a id="logout" href="/logout">Log Out</a>
              <a href="">
                <img src="" alt="Profile Img">
              </a>
          <% } else { %>
              <a id="login" href="/auth/google">Login with Google</a>
          <% } %>
      </div>
    </header>
    <main>
      
    </main>
    <footer>

    </footer>
  </body>
</html>
