* {
    margin:0;
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightsalmon;
    height:7vh;
}

#logo {
    margin-left:20px;
}

#login {
    margin-right:20px;
}

button {
    background:lightsalmon;
    border:2.25px black solid;
    border-radius:5px;
}

nav {
    height:5vh;
}

main {
    display:grid;
    grid-template-columns: 5vw auto 5vw;
}

.blank {
    height:5vh;
}

#content {
    width:90vw;
}

article {
    border:2px black solid;
    border-radius: 3px;
    height:200px;
    background:lightsalmon;
}

footer {
    background-color: lightsalmon;
    height:7vh;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    color:white;
}

footer > div {
    padding-right:10px;
}

@media only screen and (min-width:768px) {
    main {
        
    }
}