* {
    margin:0;
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7be699;
    height:7vh;
    border-bottom:1px black solid;
}

#logo {
    margin-left:20px;
    height:4vh;
}

#login {
    display:flex;
    align-items:center;
    margin-right:20px;
}

#login > a > img {
    height:4vh;
    border-radius:50%;
    margin-right:10px;
}

a {
    text-decoration: none;
}

button {
    background:#55ff85;
    border:2px black solid;
    border-radius:5px;
    cursor: pointer;
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:86vh;
}

h1 {
    margin-left:20px;
}

form {
    background: #7be699;
    border: 2px black solid;
    border-radius:5px;
    padding: 4vh 4vw;
    margin: 2vh 0;
    width:90vw;
    height:76vh;
}

textarea {
    width:81.4vw;
    font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

select {
    float:left;
}

form > button {
    float:right;
}

footer {
    background: #7be699;
    height:7vh;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    border-top:1px black solid;
}

footer > div {
    padding-right:10px;
}

@media only screen and (min-width:768px) {
    main {
        
    }
}