* {
    margin:0;
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightsalmon;
    height:7vh;
}

#logo {
    margin-left:20px;
}

#login {
    margin-right:20px;
}

button {
    background:lightsalmon;
    border:2.25px black solid;
    border-radius:5px;
}

main {
    display:flex;
    align-items:center;
    justify-content:center;
    background:white;
    height:86vh;
}

aside {
    display:flex;
    align-items:center;
    flex-direction: column;
    text-align:center;
    height:35vh;
    width:70vw;
    border:3px black solid;
    border-radius:5px;
    background:lightsalmon;
    padding:5vh 0;
}

h1, p {
    margin-bottom:5vh;
}

footer {
    background-color: lightsalmon;
    height:7vh;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

footer > div {
    padding-right:10px;
}

@media only screen and (min-width: 768px) {

}