* {
    margin:0;
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7be699;
    height:7vh;
    border-bottom:1px black solid;
}

#logo {
    margin-left:20px;
    height:4vh;
}

#login {
    display:flex;
    align-items:center;
    margin-right:20px;
}

#login > a > img {
    height:4vh;
    border-radius:50%;
    margin-right:10px;
}

a {
    text-decoration: none;
}

button {
    background:#55ff85;
    border:2px black solid;
    border-radius:5px;
}

button:hover {
    cursor: pointer;
}

button > img {
    height:15px;
}

main {
    display:grid;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
}

main > a {
    margin:10px 0;
    grid-area:'link';
}

main > form {
    margin:2vh 0;
    grid-area: '';
}

article {
    padding:2vh 2vw;
    width:90vw;
    background:#7be699;
    border-radius:4px;
    border:2px black solid;
    margin-bottom:2vh;
}

article > form {
    display:inline-block;
}

article > a {
    float:right;
}

.liked {
    background:lightblue;
}

footer {
    background-color: #7be699;
    height:7vh;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    border-top:1px black solid;
}

footer > div {
    padding-right:10px;
}

@media only screen and (min-width:768px) {
    article {
        width:40vw;
    }
}