* {
    margin:0;
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightsalmon;
    height:7vh;
    border-bottom:1px black solid;
}

#logo {
    margin-left:20px;
    height:4vh;
}

#login {
    margin-left:10px;
    margin-right:20px;
}

#login > a > img {
    height:40px;
}

a {
    text-decoration: none;
}

button {
    background:lightsalmon;
    border:2px black solid;
    border-radius:5px;
}

main {
    display:flex;
    flex-direction:column;
    align-items:center;
}

main > form {
    margin:2vh 0;
}

article {
    padding:2vh 2vw;
    width:90vw;
    background:lightsalmon;
    border-radius:4px;
    border:2px black solid;
    margin-bottom:2vh;
}

p > span {
}

.liked {
    background:lightblue;
}

footer {
    background-color: lightsalmon;
    height:7vh;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    border-top:1px black solid;
}

footer > div {
    padding-right:10px;
}

@media only screen and (min-width:768px) {
    main {
        
    }
}