* {
    margin:0;
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: lightsalmon;
    height:7vh;
    border-bottom:1px black solid;
}

#logo {
    margin-left:20px;
    height:4vh;
}

#login {
    margin-right:20px;
    height:4vh;
}

#login > a > img{
    height:4vh;
    margin-right:10px;
    border-radius:50%;
}

a {
    text-decoration: none;
}

button {
    background:lightsalmon;
    border:2px black solid;
    border-radius:5px;
}

button:hover {
    background: rgba(0,0,0,.2);
}

main {
    display:flex;
    justify-content:center;
    text-align:center;
    height:86vh;
}

aside {
    margin:5vh 0;
    width:90vw;
    height:76vh;
    background:lightsalmon;
    border:2px black solid;
    border-radius:10px;
}

aside > img {
    height:40vh;
    border-radius:50%;
    margin-bottom:20px;
}

footer {
    background-color: lightsalmon;
    height:7vh;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    border-top:1px black solid;
}

footer > div {
    padding-right:10px;
}

@media only screen and (min-width:768px) {
    main {
        
    }
}