* {
    margin:0;
    box-sizing: border-box;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7be699;
    height:7vh;
    border-bottom:1px black solid;
}

#logo {
    margin-left:20px;
    height:4vh;
}

#login {
    display:flex;
    align-items:center;
    margin-right:20px;
}

#login > a > img {
    height:4vh;
    border-radius:50%;
    margin-right:10px;
}

a {
    text-decoration: none;
}

button {
    background:#55ff85;
    border:2px black solid;
    border-radius:5px;
    cursor: pointer;
}

main {
    height:86vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

main > a {
    margin:10px 0;
}

article {
    padding: 5vh 5vh;
    display:grid;
    grid-template-areas: 
    "h1 h1"
    "msg msg"
    "pT pT"
    "form form"
    ;
    height:70vh;
    width:90vw;
    background:#7be699;
    border-radius:5px;
    border:2px black solid;
}

h1 {
    grid-area: 'h1';
}

#msg {
    grid-area: 'msg';
}

#postTime {
    grid-area: 'pT';
}

form {
    grid-area: 'form';
}

footer {
    background-color: #7be699;
    height:7vh;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    border-top:1px black solid;
}

footer > div {
    padding-right:10px;
}

@media only screen and (min-width:768px) {
    main {
        
    }
}