<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/category.css' />
        <title>Beauty</title>
    </head>
    <body>
        <header>
            <% if(user) { %>
                <a href="/categories">
                    <img id="logo" src="../public/images/" alt="UpPost Logo">
                </a>
            <% } else { %>
                <a href="/">
                    <img id="logo" src="../public/images/" alt="UpPost Logo">
                </a>
            <% } %>

            <div id="login">
                <% if (user) { %>
                <a href="">
                    <img src="../../public/images/profPic.png" alt="Profile Img">
                </a>
                <button onclick="location.href='/logout'">Log Out</button>
                <% } else { %>
                <button onclick="location.href='/auth/google'">Login with Google</button>
                <% } %>
            </div>
        </header>

        <main>
            
            <% if (user) { %>
                <form action="/categories/:category" method="POST">
                    <input type="text">
                    <button type="submit">Post</button>
                </form>
            <% } else { %>

            <% } %>
        </main>

        <footer>
            <div>
                UpPost &copy; 2020
            </div>
        </footer>
    </body>
</html>