<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/categories.css' />
        <title>All Categories</title>
    </head>
    <body>
        <header>
            <% if(user) { %>
                <a href="/categories">
                    <img id="logo" src="../public/images/" alt="UpPost Logo">
                </a>
            <% } else { %>
                <a href="/">
                    <img id="logo" src="../public/images/" alt="UpPost Logo">
                </a>
            <% } %>

            <div id="login">
                <% if (user) { %>
                <a href="">
                    <img src="../../public/images/profPic.png" alt="Profile Img">
                </a>
                <button onclick="location.href='/logout'">Log Out</button>
                <% } else { %>
                <button onclick="location.href='/auth/google'">Login with Google</button>
                <% } %>
            </div>
        </header>

        <nav>

        </nav>

        <main>
            <div></div>
            <div id="content">
                <article>
                    <h1>Beauty</h1>
                    <a href="/main/Beauty">
                        <div class="continue">Continue to Posts</div>
                    </a>
                </article>
                <div class="blank"></div>
                <article>
                    <h1>Technology</h1>
                    <a href="/main/Technology">
                        <div class="continue">Continue to Posts</div>
                    </a>
                </article>
                <div class="blank"></div>
                <article>
                    <h1>Movies</h1>
                    <a href="/main/Movies">
                        <div class="continue">Continue to Posts</div>
                    </a>
                </article>
                <div class="blank"></div>
                <article>
                    <h1>Learning</h1>
                    <a href="/main/Learning">
                        <div class="continue">Continue to Posts</div>
                    </a>
                </article>
            </div>
            <div></div>
        </main>

        <div class="blank"></div>

        <footer>
            <div>
                UpPost &copy; 2020
            </div>
        </footer>
    </body>
</html>